body {
    font-family: 'Arial', sans-serif;
    color: #001f3f; 
    background-color: #f0d095; 
}

h1, h2, h3, p, a {
    color: #093e74; 
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.left_column {
    float: left;
    width: 20%; 
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-right: 20px;
}

.right_column {
    float: right;
    width: 75%; 
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #cccccc;
}


.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #001f3f; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.hover_over_button {
    color: #093e74; 
}
