body {
    font-family: 'Arial', sans-serif !important;
    color: #001f3f !important; 
    background-color: #f0d095 !important; 
}

h1, h2, h3, p, a {
    color: #09500d !important; 
}

.container {
    max-width: 960px !important;
    margin: 0 auto !important;
    padding: 20px !important;
}

.left_column {
    float: left !important;
    width: 20% !important; 
    background-color: #a1dfea !important;
    padding: 10px !important;
    border: 1px solid #a1dfea !important;
    margin-right: 20px !important;
}

.right_column {
    float: right !important;
    width: 75% !important; 
    background-color: #a1dfea !important;
    padding: 10px !important;
    border: 1px solid #a1dfea !important;
}


.button {
    display: inline-block !important;
    padding: 8px 16px !important;
    background-color: #001f3f !important; 
    color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.hover_over_button {
    color: #093e74 !important; 
}
